<html lang="en">
    <head>
        <!-- <meta> tags> -->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">    <title>Welcome</title>
    </head>

    <body class="">
        <main class="" >

            <div class="container-main">
                <div class="row h-100">
                    <div class="col-3">
                        <div class=" d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height: 100%" >
                                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                                    <span class="fs-4">MechSwitch API</span>
                                </a>
                            <hr>
                                <ul class="nav nav-pills flex-column mb-auto">
                                    <li >
                                        <a href="#" class="nav-link text-white " aria-current="page">
                                            Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link text-white">
                                            Documentation
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link text-white ms-4">
                                            Switch Route
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link text-white">
                                            Companion Website
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link text-white">
                                            Github Repo
                                        </a>
                                    </li>
                                </ul>
                            <hr>
                        </div>
                        
                    </div>
                    <div class="col-9">
                        {{{ body }}}

                    </div>
                </div>
            </div>
        </main>
        
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>    
    </body>
</html>