<div class="container">
    <p class="h1">
        Documentation
    </p>

    <div>
        <h2>
            The Switch route
        </h2>
        <div>
            <p>
                The route used to get mechanical switch information from the API
            </p>
            <a class="btn btn-primary" href="/documentation/switch" role="button">
                Learn More
            </a>
        </div>
    </div>
</div>