
<div class="container">
    <p class="h1">Welcome to mechSwitch api</p>
    <p> 
        Welcome to the soon to be most comprehensive api for mechanical Switches
        including product data and general information.
    </p>
    <p>
        This API is free to use so feel free to explore the data gathered from the Mechanical 
        keyboard community.
    </p>
    <p>
        While this API is currently focused on mechanical switches, the hope is that 
        it covers other mechanical keyboard products such as keyboards and accesories.
    </p>
    
</div>
