<div class="container">
    <p class="h1">
        The <b>Switch</b> route.
    </p>

    <div class="my-4">
        <p class="h2">
            Get the complete data object of every mechanical switch in the database
        </p>
        <div><p class="h3">Technical Details:</p></div>
        <div class="my-4">
            <table class="table">
                 <tbody>
                    <tr>
                        <th>HTTP Method</th>
                        <td>GET</td>
                    </tr>
                    
                 </tbody>
            </table>
        </div>
            
    </div>

    <div><p class="h3">Return JSON object:676</p></div>
    <pre>
        <code>
            {
            &#9;switchData: <samp>[Array of switch objects]</samp>,
            &#9;message: <samp>[Relevent message about query]</samp>,
            &#9;code: <samp>[HTTP query code relevent to the specific query]</samp>
            }          
        </code> 
    </pre>
</div>